<div class="card-vertical card-discover">

	<figure class="thumbnail">
		<div class="picture picture-link">
			<img src="{{cover}}" alt="{{name}}" class="picture-img img-discover">
		</div>
		<ul class="action">
			<li class="action-item">
				<button class="action-item-btn action-force" type="button" >
					<i class="fas fa-play"></i>
				</button>
			</li>
			<li class="action-item">
				<button class="action-item-btn favorite" type="button">
					<i class="fas fa-heart"></i>
				</button>
			</li>
		</ul>
	</figure>
	<!-- <div class="thumbnail-caption">
		<div class="heading-4">
			<a title="100% Karol G" 
				href="#">100% Karol G
			</a>
		</div>
		<div class="heading-5-sub">
			<p>50 canciones </p>
			<p>19,855 seguidores</p>
		</div> 
	</div> -->

</div>