.card-horizontal{
    margin-left: 24px;
    margin-top: 24px;
    position: relative;
    border-radius: 4px;
    box-shadow: var(--box-shadow-1);
}

.card-horizontal.card-discover{
    width: 16.6rem;
}

.thumbnail-rectangle {
    cursor: pointer;
    display: flex;
    transition-duration: .15s;
    transition-property: opacity;
}

.thumbnail {
    border-radius: 4px;
    box-shadow: 0 1px 6px rgb(25 25 34 / 16%);
    display: inline-block;
    margin: 0;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    vertical-align: top;
}

.thumbnail .picture {
    background-color: #f4f4f4;
    display: block;
    position: relative;
}
.thumbnail .picture-img {
    display: inline-block;
    vertical-align: top;
    height: 134px;
    object-fit: cover;
    transition: opacity 300ms ease-out 0s;
    width: 16.6rem;
    opacity: 1;
}

.thumbnail .picture:after {
    background-color: #fff;
    background-color: var(--background-primary);
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: .15s;
    transition-property: opacity,background-color;
}

.thumbnail .title {
    bottom: 72px;
    color: #fff;
    color: var(--color-white);
    font-family: Deezer,Arial,sans-serif;
    font-weight: 700;
    left: 16px;
    pointer-events: none;
    position: absolute;
    right: 16px;
    z-index: 4;
}

.thumbnail-rectangle .title {
    align-items: center;
    bottom: auto;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 12px;
    right: 12px;
    text-align: center;
    top: 0;
}

.thumbnail:hover .title-text {
    
    font-size: 1.2rem;
}


.thumbnail .title-text {
    font-size: var(--font-size-4);
    letter-spacing: 1px;
    line-height: 20px;
    max-height: 40px;
    max-width: 100%;
    overflow: hidden;
    white-space: normal;
    color: #f4f4f4;
    transition: all .5s ease-out;
}