<div class="card-horizontal card-discover">
    <div class="thumbnail">
        <a class="thumbnail thumbnail-rectangle thumbnail-channel" href="#">

            <figure class="thumbnail thumbnail-rectangle">
                <div class="picture overlay-hidden no-background">
                    <img src="https://e-cdns-images.dzcdn.net/images/misc/000b70ae027be0afc4d60e16a782b9a4/268x528-000000-80-0-0.jpg"
                        loading="lazy" alt="" class="picture-img" height="134" width="264">
                </div>
                <div class="title">
                    <p class="title-text">
                        Nuevos lanzamientos
                    </p>
                </div>
            </figure>
        </a>
    </div>

</div>