<div class="section-generic">

    <div class="section-generic__header">
        

        <h2 class="header-title">
            title
        </h2>

        <div class="header-buttons">
            <button><i class="fas fa-angle-left"></i></button>
            <button><i class="fas fa-angle-right"></i></button>
        </div>

    </div>

    <div class="section-generic__content">

        <ul class="card-list">
            <li>
                <app-card-vertical></app-card-vertical>

            </li>
            <li>
                <app-card-vertical></app-card-vertical>

            </li>
            <li>
                <app-card-vertical></app-card-vertical>

            </li>
            <li>
                <app-card-vertical></app-card-vertical>

            </li>
            <li>
                <app-card-vertical></app-card-vertical>

            </li>
            <li>
                <app-card-vertical></app-card-vertical>

            </li>
            <li>
                <app-card-vertical></app-card-vertical>

            </li>
            <li>
                <app-card-vertical></app-card-vertical>

            </li>
            <li>
                <app-card-vertical></app-card-vertical>

            </li>
            <li>
                <app-card-vertical></app-card-vertical>

            </li>


        </ul>

    </div>

</div>